@import 'styles/variaveis';

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 66px 0px;

  &_titulo {
    color: $azul;
    font-size: 22px;
    margin: 0 0 27px;
  }
}

@media screen and (min-width: $width-desktop) {
  .section {
    &_titulo {
      font-size: 34px;
      margin: 0 0 40px;
    }
  }
}